<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Home | TrashCan</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'users/css/styles.css' %}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script> 
    <script src="{% static 'users/js/main.js' %}"></script>
</head>
<body>
    
    <div class="container">

        <div class="header" id="header"></div>

        <div class="sidebar"></div>

        <div class="footer">
            <p class="footer__attribution">Tom Hollingshead & Brett Jory</p>
            <p class="footer__info">Made with Python 3.6 & Django 2.2</p>
        </div>

    </div>

</body>
</html>