@import url("https://fonts.googleapis.com/css?family=Noto+Sans");
* {
  margin: 0;
  padding: 0; }

html {
  background-color: #eee; }

.container {
  width: 100%;
  display: grid;
  grid-gap: 0;
  grid-template-rows: 1fr 1fr 5fr 1fr;
  grid-template-columns: 1fr 3fr 1fr;
  grid-template-areas: "head  head  head" "nav   nav   side" "main  main  side" "foot  foot  foot"; }

html {
  font-size: 62.5%;
  font-family: 'Noto Sans', sans-serif;
  color: #333; }

h1 {
  font-weight: bolder;
  font-size: 4rem; }

h2 {
  font-weight: bold;
  text-emphasis: italic;
  font-size: 3rem; }

body {
  font-size: 2rem; }

.form {
  grid-area: main; }
  .form__messages--success {
    color: #44B78B; }
  .form__messages--error {
    color: #8C041D; }

.footer {
  grid-area: foot;
  background-color: #44B78B;
  padding: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column; }
  .footer__attribution {
    font-size: 1.5rem; }
  .footer__info {
    font-size: 1rem; }

.header {
  grid-area: head;
  background-color: #11538C;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: flex-end;
  padding: 1rem;
  overflow: hidden; }
  .header__title {
    color: #eee;
    margin: 0 auto 0 1rem; }
  .header__nav {
    overflow: hidden; }
  .header__menuicon {
    background-color: #11538C;
    color: #eee;
    padding: 1rem;
    font-size: 2rem;
    text-decoration: none;
    cursor: pointer; }
    .header__menuicon:hover {
      background-color: #0F7CBF; }
    .header__menuicon:focus {
      background-color: #44B78B; }
    .header__menuicon:before {
      content: "My Profile";
      display: inline-block; }
    .header__menuicon:after {
      display: inline-block; }
  .header__menulink {
    color: #333;
    padding: 1rem;
    text-decoration: none;
    display: block; }
    .header__menulink:hover {
      background-color: #0F7CBF;
      box-shadow: 0.2rem 0.2rem 0.5rem #333; }
  .header__menulist {
    z-index: 1; }
    .header__menulist--hidden {
      display: none; }
    .header__menulist--visible {
      display: block;
      position: absolute;
      list-style-type: none;
      box-shadow: 0.2rem 0.2rem 0.5rem #333;
      background-color: #eee; }
  .header__link {
    color: #eee;
    text-decoration: none;
    margin: .5rem;
    padding: 1rem;
    border-radius: .5rem;
    justify-self: flex-end; }
    .header__link:hover {
      background-color: #0F7CBF;
      box-shadow: 0.2rem 0.2rem 0.5rem #333; }

.sidebar {
  grid-area: side;
  background-color: #46271A; }
