@import url("https://fonts.googleapis.com/css?family=Noto+Sans");
html {
  background-color: #F2EDDC; }

html {
  font-size: 62.5%;
  font-family: 'Noto Sans', sans-serif; }

h1 {
  font-weight: bolder;
  font-size: 4rem; }

h2 {
  font-weight: bold;
  text-emphasis: italic;
  font-size: 3rem; }
