<!DOCTYPE html>
<html>
    <head>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
      
      {% for marker in location %}
      <meta class="location" data-name="{{marker.lat}}" data-other="{{marker.lng}}" id="{{marker.id}}">
      {% endfor %}

      <style>
        /* Set the size of the div element that contains the map */
          #map {
          height: 400px;  /* The height is 400 pixels */
          width: 100%;  /* The width is the width of the web page */
          }
      </style>
    </head>
    <body>
    <h3>Trash Can App</h3>

    

    <!--The div element for the map -->
    <div id="map"></div>
    <script>
// Initialize and add the map


function initMap() {
  // The location of Uluru

  var lat = [];
  var lng = [];
  var markerids = []

  $('.location').each(function() {
    markerids.push($(this).attr("id"));
    lat.push($(this).attr("data-name"));
    lng.push($(this).attr("data-other"));
    // console.log($(this).attr("data-name"));
    // console.log($(this).attr("data-other"));
  });
  console.log("print them bitch")
  console.log(markerids)
  console.log(lat)
  console.log(lng)

  var markers = []

  for(var i = 0; i < lat.length; i++) {
    markers.push({
      "id": markerids[i],
      "lat": lat[i],
      "lng": lng[i]
    })
  }
  var uluru = {lat: 47, lng: 122.3321};
  var map = new google.maps.Map(
        document.getElementById('map'), {zoom: 4, center: uluru});

  console.log("do the shit")
    console.log(markers);
    var djangoData = $('#my-data').data()
    
    var marker;
  for(var i = 0; i < markers.length; i++) {
    marker = {lat: parseFloat(markers[i]["lat"]), lng: parseFloat(markers[i]["lng"])};
    new google.maps.Marker({position: marker, map: map})
  }

  // The map, centered at Uluru

  // The marker, positioned at Ulurus
    // var marker = new google.maps.Marker({position: uluru, map: map});
}
    </script>
    <!--Load the API from the specified URL
    * The async attribute allows the browser to render the page while the API loads
    * The key parameter will contain your own API key (which is not needed for this tutorial)
    * The callback parameter executes the initMap() function
    -->
    <script async defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBGuYetgZvm22yoFYdCNgGqA-qbqDv0zi8&callback=initMap">
    </script>
    
    
    </body>
</html>