<!DOCTYPE html>
<html>
    <head>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
        <script async defer
          src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBGuYetgZvm22yoFYdCNgGqA-qbqDv0zi8&callback=initMap">
        </script>
      
      {% for marker in location %}
      <meta class="location" data-name="{{marker.lat}}" data-other="{{marker.lng}}" id="{{marker.id}}">
      {% endfor %}

      <style>
        /* Set the size of the div element that contains the map */
          #map {
          height: 400px;  /* The height is 400 pixels */
          width: 100%;  /* The width is the width of the web page */
          }
      </style>
    </head>
    <body>
    <h3>Can It!</h3>

    

    <!--The div element for the map -->
    <div id="map"></div>
    <script>
// Initialize and add the map


function initMap() {
  // The location of Uluru

  var lat = [];
  var lng = [];
  var markerids = []

  $('.location').each(function() {
    markerids.push($(this).attr("id"));
    lat.push($(this).attr("data-name"));
    lng.push($(this).attr("data-other"));
    // console.log($(this).attr("data-name"));
    // console.log($(this).attr("data-other"));
  });
  console.log("print them bitch")
  console.log(markerids)
  console.log(lat)
  console.log(lng)

  var markers = []

  for(var i = 0; i < lat.length; i++) {
    markers.push({
      "id": markerids[i],
      "lat": lat[i],
      "lng": lng[i]
    })
  }
  var uluru = {lat: 47.59655584563828 , lng: -122.19240147272495};
  var map = new google.maps.Map(
        document.getElementById('map'), {zoom: 12, center: uluru});
  setMarkers(map, markers);
}
    
function setMarkers(map, locations){
    var markerList= [];
    // var info_window = new google.maps.InfoWindow({content: ''});
  for(var i = 0; i < locations.length; i++) {
    var markid = locations[i]["id"];
    var lat = parseFloat(locations[i]["lat"]);
    var lng = parseFloat(locations[i]["lng"]);
    // marker = {lat: parseFloat(markers[i]["lat"]), lng: parseFloat(markers[i]["lng"])};
    // new_marker = new google.maps.Marker({position: marker, map: map, clickable: true});
    var content = "A messy area! " + markid;
    // var infoWindow = new google.maps.InfoWindow({
    //   content: infoWindowContent
    // })
    latlngset = new google.maps.LatLng(lat, lng);
    var marker = new google.maps.Marker({title: markid, position: latlngset, map: map, clickable: true});
    var infowindow = new google.maps.InfoWindow()
    google.maps.event.addListener(marker, 'click', (function(marker,content,infowindow){
      return function() {
        infowindow.setContent(content);
        infowindow.open(map,marker);
      };
    })(marker,content,infowindow))
  }
  // var infoWindow = new google.maps.InfoWindow({
  //     content: infoWindowContent
  //   })
  // google.maps.event.addListener(new_marker, 'click', function() {
  //     this.infoWindow.open(map, this);
  //   })
}

  // google.maps.event.addListener(map, 'click', function(marker) {
  // new google.map.InfoWindow()
  



  // The map, centered at Uluru

  // The marker, positioned at Ulurus
    // var marker = new google.maps.Marker({position: uluru, map: map});

    </script>
     <!--Load the API from the specified URL
    // * The async attribute allows the browser to render the page while the API loads
    // * The key parameter will contain your own API key (which is not needed for this tutorial)
    // * The callback parameter executes the initMap() function
    // -->
    
    </div>
    <a href="/dashboard">Back to Dashboard!</a>
    <br>
    <a href="/map/add_marker">Add a new area!</a>
    
    </body>
</html>