.sidebar {
    grid-area: side;
    background-image: $gradient-black;
    box-shadow: $bottom-shadow;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-around;
    align-items: center;
    
    &__link {
        text-decoration: none;
        color: $color-white;
    }
}