<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Dashboard | CanIt!</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'users/css/styles.css' %}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script> 
    <script src="{% static 'users/js/main.js' %}"></script>
</head>
<body>
    
    <div class="container">

        <div id="header" class="header"></div>

        <div class="content">
            <h1 class="content__title">Welcome, {{user.first_name}}</h1>
            <div class="content__section">
                <h2 class="content__subtitle">Littered areas near you:</h2>
                <table class="table">
                    <thead class="table__head">
                        <th class="table__headval">Location</th>
                        <th class="table__headval">Votes Cast</th>
                        <th class="table__headval">Last Cleaned</th>
                        <th class="table__headval">Notes</th>
                        <th class="table__headval">Vote</th>
                        <th class="table__headval">Score</th>
                        <th class="table__headval">Actions</th>
                    </thead>
                    {% for marker in markerlist %}

                    <tr class="table__row">
                        <td class="table__item">{{marker.lat|truncatechars_html:4}} {{marker.lng|truncatechars_html:4}}</td>
                        <td class="table__item">{{marker.votes}}</td>
                        <td class="table__item">{{marker.updated_at}}</td>
                        <td class="table__item">{{marker.notes}}</td>
                        <td class="table__item">
                            <form action = "/dashboard/up", method = "POST">
                                {% csrf_token %}
                                <input type="hidden" name="markerid" value = "{{marker.id}}">  
                                <button type="submit">&uarr;</button>
                            </form>
                            <form action = "/dashboard/down", method = "POST">
                                {% csrf_token %}
                                <input type="hidden" name="markerid" value = "{{marker.id}}">  
                                <button type="submit">&darr;</button>
                            </form>
                        </td>
                        <td>{{marker.score}}</td>
                        <td>
                            <a href= "">Edit</a> | 
                                <a href= "/map/marker">View</a>
                        </td>
                    </tr>
                    {% endfor %}
                </table>
            </div>
            <div class="content__section">
                <h2 class="content__subtitle">Your dropped pins:</h2>
                <table class="table">
                    <thead class="table__head">
                        <th class="table__headval">Date Added</th>
                        <th class="table__headval">Score</th>
                        <th class="table__headval">Last Voted On</th>
                        <th class="table__headval">Notes</th>
                        <th class="table__headval">Votes</th>
                    </thead>
                    {% for marker in markerlist %}
                    <tr class="table__row">
                        <td class="table__item">{{marker.created_at}}</td>
                        <td class="table__item">{{marker.score}}</td>
                        <td class="table__item">{{marker.updated_at}}</td>
                        <td class="table__item">{{marker.notes}}</td>
                        <td class="table__item">{{marker.votes}}</td>
                    </tr>
                    {% endfor %}
                </table>
            </div>
            <div class="content__section">
                <a href = "/map/add_marker">Drop a pin!</a>
            </div>
        </div>

        <div id="sidebar" class="sidebar"></div>

        <div id="footer" class="footer"></div>

    </div>

</body>
</html>